# 域名的限制
##  不可包含字符 ,
##  不可以空白字符开始或者结束

[config]
id = id_NUMBER
lang = en
indexing = TITLE, DESCRIPTION
# fields added for sorting; position matters
sorting = xxx, yyy
# When given, only store those
# storing = TITLE, xxx

# 索引时的前缀映射
[field_prefix]
S = TITLE, SUBTITLE
XD = DESCRIPTION

# 查询语句使用的前缀映射
[prefix_name]
S = title, t
XD = description
